<div class="container">
    <div class="card shadow-sm">
        <div class="card-body">
            <div class="row justify-content-center">
                <h1 style="border-bottom:solid 6px grey;" class="display-2">{{eduData[0].heading}}</h1>                
            </div>
            <div class="row justify-content-center">
                <p>
                    {{eduData[0].description}}
                </p>
            </div>
            <div class="row justify-content-center">
                <div *ngFor="let sem of eduData[0].marks" class="col-md-1 col-sm-3 col-4 sem-marks-card text-center">
                    <h3>{{sem[0]}}</h3>
                    <p>{{sem[1]}}</p>
                </div>
            </div>
            <div style="margin-top: 3vh;" class="row justify-content-center sem-marks-card text-center">
                <h3>Degree Grade Point Average <br>
                    {{eduData[0].dgpa}}
                </h3>
            </div>
        </div>
    </div>


    <div class="card shadow-sm">
        <div class="card-body">
            <div class="row justify-content-center">
                <h1 style="border-bottom:solid 6px grey;" class="display-2">{{eduData[1].heading}}</h1>
            </div>
            <div class="row justify-content-center">
                <p>
                    {{eduData[1].description}}
                </p>
            </div>
            <div style="margin-top: 3vh;" class="row justify-content-center sem-marks-card text-center">
                <h3>Percentage<br>
                    {{eduData[1].marks}}
                </h3>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 5vh;" class="card shadow-sm">
        <div class="card-body">
            <div class="row justify-content-center">
                <h1 style="border-bottom:solid 6px grey;" class="display-2">{{eduData[2].heading}}</h1>
            </div>
            <div class="row justify-content-center">
                <p>
                    {{eduData[2].description}}                  
                </p>
            </div>
            <div style="margin-top: 3vh;" class="row justify-content-center sem-marks-card text-center">
                <h3>Percentage<br>
                    {{eduData[2].marks}}
                </h3>
            </div>
        </div>
    </div>
</div>