<div class="container">
    <div class="card">
        <div class="card-header">
            
        </div>

        <div class="about-card-body">
            <div class="row  d-flex justify-content-center">
                <img class="dp dp-container" src="../../assets/pp.jpg" alt="">
            </div>
            <div class="row justify-content-center">
                <h1 class="display-2">Sitabja Pal</h1>
            </div>
            <div class="row justify-content-around">
                <div  class="col-md-4 col-sm-4 col-4 d-flex justify-content-center">
                    <a href="gmail"><fa-icon style="color: #CE3F35;" class="" size="3x" [icon]="faEnvelope"></fa-icon></a>
                </div>

                <div  class="col-md-4 col-sm-4 col-4 d-flex justify-content-center">
                    <a href=""><fa-icon style="color: #0A66C2;" class="" size="3x" [icon]="faLinkedin"></fa-icon></a>
                </div>

                <div  class="col-md-4 col-sm-4 col-4 d-flex justify-content-center">
                    <a href=""><fa-icon style="color: black" class="" size="3x" [icon]="faGithubSquare"></fa-icon></a>
                </div>
            </div>
        </div>
      </div>
</div>
