<div class="container mb-5">
    <div class="card">
        <div class="card-header">
            
        </div>

        <div class="about-card-body p-1">
            <div class="row  d-flex justify-content-center">
                <img class="dp dp-container" src="../../assets/dp.jpg" alt="">
            </div>
            <div class="row justify-content-center">
                <h1 class="display-3 text-color" style="font-size: 4rem;font-family: 'Lobster', cursive;">Hello !</h1>
            </div>
            <div class="row justify-content-center">
                <h1 class="display-5 text-color" style="font-size: 2.5rem;font-family: 'Lobster', cursive;">I am Sitabja Pal</h1>
            </div>
            <div class="mx-4">
                <h2 class="text-color" style="font-family: 'Kanit', sans-serif;;font-size: 1.5rem;font-weight: bold;">
                    I am passionate about developing backend as well as frontend web applications. I would love to learn more and more about the new technologies of this new world. I am a team player and love to make new friends in my workplace
                </h2>

                <h2 class="text-color" style="font-family: 'Kanit', sans-serif;font-size: 1.5rem;font-weight: bold;">
                    Currently I am working as a Power Programmer in Strategic Technology Group of Infosys Ltd.  
                </h2>
            </div>
            <div class="row justify-content-center mt-5">
                <a href="../../assets/sitabja_Pal-Resume.pdf" download="sitabja_Pal-Resume" class="btn" ><fa-icon style="color: #fff;" class="" size="1x" [icon]="faDownload"></fa-icon> Resume</a>
            </div>
            <div class="row justify-content-around pb-4 mt-3">
                <div  class="col-md-4 col-sm-4 col-4 d-flex justify-content-center">
                    <a target="_blank" href="mailto:palsitabja@gmail.com"><fa-icon style="color: #CE3F35;" class="" size="3x" [icon]="faEnvelope"></fa-icon></a>
                </div>

                <div  class="col-md-4 col-sm-4 col-4 d-flex justify-content-center">
                    <a target="_blank" href="https://www.linkedin.com/in/sitabja-p-702019b5/"><fa-icon style="color: #0A66C2;" class="" size="3x" [icon]="faLinkedin"></fa-icon></a>
                </div>

                <div  class="col-md-4 col-sm-4 col-4 d-flex justify-content-center">
                    <a target="_blank" href="https://github.com/palSitabja"><fa-icon style="color: black" class="" size="3x" [icon]="faGithubSquare"></fa-icon></a>
                </div>
            </div>
        </div>
      </div>
</div>
