<div *ngIf="skilldata==null" class="text-center" style="margin-top: 40vh;margin-bottom: 30vh;">
    <div class="spinner-border text-info" style="width: 4rem;height: 4rem;">
        
    </div>
    <div class="mt-2 load-animation" style="font-size: large;font-weight: bolder;animation-name: loading;">Loading...</div>
</div>
<div *ngIf="skilldata!==null" class="container mb-5">
    <div *ngFor="let skill of skilldata" class="card shadow-sm">
        <div class="card-body">
            <div class="row justify-content-center">
                <h1 style="border-bottom:solid 6px grey;" class="display-2">{{skill.heading}}</h1>
            </div>
            <div class="row justify-content-center">
                    <div *ngFor="let detail of skill.details" class="col-md-3 col-sm-6 col-6 d-flex flex-column align-items-center">
                        <h3><i style="font-size: 20px;" class={{detail[1]}}></i>&emsp;{{detail[0]}}</h3>
                        <div [class]='detail[3]'>
                            <mat-progress-spinner
                            class="mat-spinner"
                            diameter="80"
                            strokeWidth="10"
                            [mode]="mode"
                            [value]=detail[2]>
                            </mat-progress-spinner>
                            <div style="position:relative; top: -52px; left: 25px;">
                                <p style="color: gray;font-weight: bolder;">{{divByTen(detail[2])}}/10</p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>